@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(204,255,255);
  --text-color: rgb(25,25,112);
}

div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, transparent, rgb(255,255,255)) rgb(214, 219, 220);
}